*.Cache
Thumbs.db
*.suo
**/Temp/**
**/Results/**
**/bin/**
**/StfBin/**
**/obj/**
*.user
**/packages/**
**/TestResults/**
*.nupkg
/.vs/config/applicationhost.config
/.vs/Stf/**
!**/TestData/**/Results/**
!**/TestData/**/Temp/**