body {
    font-family: verdana;
    font-size: 1.0em;
    color: black;
    padding: 0;
    margin: 0;
}

h1#logtitle {
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

div#logo {
    margin-right: 25px;
    margin-left: 15px;
    height: 150px;
    width: 150px;
    background: url('data:image/x-png;base64,#IMAGELOGO#') no-repeat left top;
    background-size: contain;
}

ul#logfileinfo {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    border-bottom: 5px solid #EFEBEF;
    border-left: 5px solid #EFEBEF;
    border-right: 5px solid #EFEBEF;
    background-color: white;
    color: black;
    font-size: 0.75em;
    list-style-type: none;
    position: fixed;
    top: 0;
    display: none;
}

div#header {
    padding: 15px;
    font-family: "Lucida Sans Unicode","Lucida Grande";
    color: #HeaderForegroundColor#;
    background-color: #HeaderBackgroundColor#;
    width: 100%;
    position: fixed;
    top: 0;
}

.logfileinfovalue {
    font-style: normal;
}

div#logfileelements {
    margin-top: 195px;
    margin-left: 10px;
    margin-right: 10px;
}

div.line {
    clear: both;
    font-size: 0.7em;
    margin-bottom: 3px;
}

div.logheader {
    font-size: 1.25em;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 10px;
}

div.logsubheader {
    font-size: 1.0em;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 5px;
}

div.el {
    float: left;
    margin-bottom: 5px;
}

div.level {
    width: 60px;
    padding-right: 10px;
    text-transform: uppercase;
}

div.debug {
    color: black;
}

div.info {
    color: black;
}

div.warn {
    color: #868A08;
}

div.error {
    color: red;
}

div.pass {
    color: green;
    font-weight: bolder;
}

div.fail {
    color: red;
    font-weight: bolder;
}

div.trace {
    color: #666666;
}

div.internal {
    color: #666666;
}

div.runstats {
    color: purple;
    font-size: 1.5em;
    font-weight: bolder;
    margin-top: 3px;
    margin-bottom: 5px;
}

.pass {
    display: block;
}

.fail {
    display: block;
}

.error {
    display: block;
}

.warn {
    display: block;
}

.info {
    display: none;
}

.debug {
    display: none;
}

.trace {
    display: none;
}

.internal {
    display: none;
}

.keyvalue {
    display: none;
}

div.time {
    padding-right: 10px;
}

div.msg {
    /*padding-bottom: 10px;*/
    margin-left: 0.5em;
    width: 1000px;
}

div#buttons {
    display: block;
}

div.pad {
    color: #FF6666;
    display: none;
}

div.pad0 {
    width: 0;
}

div.pad1 {
    width: 1em;
}

div.pad2 {
    width: 2em;
}

div.pad3 {
    width: 3em;
}

div.pad4 {
    width: 4em;
}

div.pad5 {
    width: 5em;
}

div.pad6 {
    width: 6em;
}

div.pad7 {
    width: 7em;
}

div.pad8 {
    width: 9em;
}

div.pad9 {
    width: 9em;
}

div.pad10 {
    width: 10em;
}

div.pad11 {
    width: 11em;
}

div.pad12 {
    width: 12em;
}

div.pad13 {
    width: 13em;
}

div.pad14 {
    width: 14em;
}

div.pad15 {
    width: 15em;
}

div.pad16 {
    width: 16em;
}

div.pad17 {
    width: 17em;
}

div.pad18 {
    width: 18em;
}

div.pad19 {
    width: 19em;
}

div.pad20 {
    width: 20em;
}

img.embeddedimage {
    max-width: 400px;
    height: auto;
    display: block;
    clear: both;
}

    img.embeddedimage:hover {
        max-width: 100%;
        height: auto;
    }

span.symbol {
    color: blue;
}

span.roproperties {
    font-family: "courier", "monospace";
    font-size: 1.0em;
}

.left {
    float:left;
}