<?xml version="1.0"?>
<configuration xmlns="http://www.testautomation.dk/stfConfiguration" version="2013.04.21.0">
  <section name="StfKernel">
    <key name="PluginPath" value="%STF_ROOT%\Plugins\" />
    <key name="ArchiveTestResults" value="false" />
    <key name="ArchiveDestination" value="%STF_ROOT%\archiveDir" />
  </section>
  <section name="Environments" defaultsection="ENV1">
    <section name="ENV1"></section>
    <section name="ENV2"></section>
  </section>
</configuration>