<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="StfConfiguration" type="System.Configuration.AppSettingsSection"/>
  </configSections>
  <StfConfiguration>
    <add key="Enabled" value="true" />
    <add key="OverwriteLogFile" value="true" />
    <add key="LogToFile" value="false" />
    <add key="LogTitle" value="A Working Title from dll.Config" />
    <add key="LogFileName" value= "C:\temp\StfLogger.html" />
    <add key="AlertLongInterval" value="10000" />
    <add key="LogLevel" value="trace" />
    <add key="PathToLogoImageFile" value="" /><!--".\Resources\42.jpg"-->
  </StfConfiguration>
</configuration>